h1 {
  text-align: center;
  font-family: "Lucida Sans", sans-serif;
  color: rgb(38, 49, 77);
  margin-top: 20px;
  font-size: 2.5em;
} 
.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
  background-image: url("Images/Student-03/background3.jpg");
}

.team-member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.team-member.details {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
}
.team-member:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.team-member-image img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  object-fit: cover;
}
.team-member:hover.team-member-image {
  opacity: 0;
}
.team-member:hover .details {
  opacity: 1;
  transition: opacity 0.3s ease;
  max-height: 800px;
}

.details {
  text-align: center;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Lucida Sans", sans-serif;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: rgba(214, 224, 248, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}
